html {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
}

header,
section,
footer {
    border-style: solid;
    border-width: 1px;
}

section {
    flex-grow: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

/*---------- header start --------------*/
#logo-panel, .logo{
    display: flex;
    justify-content: space-between;

    padding-top: 7px;
    padding-right: 7px;
    padding-bottom: 3px;

    border-style: solid;
    border-width: 1px;
}

.logo-name {
    display: inline-block;
    margin: 10px;
}

.signin {
    display: inline-block;
    position: relative;
    top: -45%;
    margin-right: 20px;
}

.user {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    width: 70px;
}

.img-user {
    width: 50%;
}

/*------------ header finish ---------*/
/*-------------- section start -----------*/
.logo-namber {
    display: inline-block;
    margin-top: 10px;
}

.card {
    display: flex;
    height: 50px;
}

.img-card {
    height: 50%;
    margin: 10px;
}

.action {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 400px;
}
#show-payments, #show-history, #back {
    width: 100px;
    height: 25px;
    border: solid 1px;
    border-radius: 5px;
}
#back {
    display: none;
    width: 50px;
}
select {
    margin-left: 5px;
    width: 150px;
    border-radius: 5px;
    height: 20px;
    border: solid 1px;
}

.period {
    display: flex;
    padding: 7px;
    border-style: solid;
    border-width: 1px;
}

#search {
    margin-left: 10px;
    width: 70px;
    height: 20px;
}

.color-button {
    border: solid 1px #517B97;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.story-head,
.main-info-transaction {
    position: relative;
    border: solid 1px;
    padding: 10px;
}

.date-transaction,
.more-info-transaction {
    border: solid 1px;
    padding: 7px;
}

.container-name {
    overflow: hidden;
    width: 70%;
}
.story-mony {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 200px;

    right: 0;
    top: 50%;
    -webkit-transform: translate(-5%, -50%);
    -moz-transform: translate(-5%, -50%);
    -ms-transform: translate(-5%, -50%);
    -o-transform: translate(-5%, -50%);
    transform: translate(-5%, -50%);
}
#payments {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
}
.addressee, .transfer-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
input {
    font-size: 20px;
    background: rgb(226, 226, 226);
    border-bottom: solid 1px;
}
.name-receiver {
    border: 0;
    border-radius: 0;
    border-bottom: solid 1px;
    width: 180px;
}
#send-mony {
    height: 25px;
}
@media (max-width: 650px) {
    select {
        width: 90px;
    }

    body {
        padding: 0;
    }

    .container-name {
        width: 50%;
    }

    .story-mony {
        width: 150px;
    }
    .action {
        width: auto;
    }
    #payments {
        flex-direction: column;
        align-items: center;
        height: 200px;
    }
    .addressee, .transfer-amount {
        flex-grow: 1;
    }
    #send-mony {
        height: 35px;
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    body {
        width: 100%;
    }
}

/*-------------- section finish -----------*/